.row td {
  background-color: #101112;
  padding: 12px 16px;
margin-bottom: 10px;
}

.row td:first-child {
  border-radius: 8px 0 0 8px;
}

.row td:last-child {
  border-radius: 0 8px 8px 0;
}


.row {
  height: 12px;
}
