.userToolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 60px;
    
    justify-content: space-between;
}
.userControls{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
p{
    font-weight: 200;
    color: #5F6166;
}
span{
    color: #fff;
}